{% extends "base.html" %}

{% block content %}
    <h1>Blog Entries List</h1>
    <ul>
        {% for entry in all_entries %}
            <li>
                <h2>
                    <a href="/blog?id={{ entry.id }}">{{ entry.title }}</a>
                </h2>
                <p>{{ entry.body }}</p>
                <p>{{ entry.created }}</p>
                <a href="./blog?owner={{ entry.owner.id }}"><p>{{ entry.owner.id }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
